{% extends 'base_generic.html' %}

{% block title %}All Companies - Price History{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>All Companies - Price History</h1>

    {% comment %} Empty Price History Button {% endcomment %}
    <div class="mb-3">
        <a href="{% url 'clear_pricehistory' %}" class="btn btn-danger ">Empty Price History</a>
    </div>

    {% if prices %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>S.N.</th>
                <th>Company</th>
                <th>Symbol</th>
                <th>Date</th>
                <th>Open Price</th>
                <th>High Price</th>
                <th>Low Price</th>
                <th>Close Price</th>
            </tr>
        </thead>
        <tbody>
            {% for price in prices %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ price.company.name }}</td>
                <td>{{ price.company.symbol }}</td>
                <td>{{ price.date }}</td>
                <td>{{ price.open_price }}</td>
                <td>{{ price.high_price }}</td>
                <td>{{ price.low_price }}</td>
                <td>{{ price.close_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No price history available.</p>
    {% endif %}
</div>
{% endblock %}
